<footer class="bg-white">

    <div class="row">
        <div class='col-12'>
            <div class='row'>   
               <!-- Footer Menu -->         
               <div class='col-md-4 text-center pt-4'>
                  <h5 class='text-uppercase mt-2'>Lien 1</h5>
                  <ul class='list-unstyled pb-2'>
                     <li>Add form/Link 1</li>
                     <li>Add form/Link 2></li> 
                  </ul>
               </div>                     
               <div class='col-md-4 text-center pt-4'>
                  <h5 class='text-uppercase mt-2'>Lien 2</h5>
                  <ul class='list-unstyled pb-2'>
                     <li>Add form/Link 1</li>
                     <li>Add form/Link 2></li> 
                  </ul>
               </div>
               <div class='col-md-4 text-center pt-4'>
                  <h5 class='text-uppercase mt-2'>Lien 3</h5>
                  <ul class='list-unstyled pb-2'>
                     <li>Add form/Link 1</li>
                     <li>Add form/Link 2></li> 
                  </ul>
               </div>
               <!-- End of Footer Menu -->

               <div class='col-md-12 text-center pt-2'>
                 <div class='mx-auto mt-2' style='height:60px; width:60px'>
                    <a href='' alt='LOGO IMAGE'><img href=''/></a>
                 </div>
                 <p class='h6'>Checkpoint3</p>
                 <div class='text-center py-2 bg-dark'>
                    <small class='text-center text-white'>Copyright <span>LeRecoin</span><span>©</span><span class='mr-2'></span><span>
                    <script>document.write(new Date().getFullYear());</script></span>  -  <span>Tous droits réservés.</span>
                    </small>
                  </div>
               </div>     
            </div>
        </div> 
    </div>                  
</footer>