<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Acceuil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        </li>
        <li class="nav-item">
        {% if app.user %}
            <li><a class="nav-link" >Bonjour {{ app.user.firstName }}</a></li>
            <li><a class="nav-link" href="/user">Mon profil</a></li>
            <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
            
        {% else %}
            <a class="nav-link" href="{{ path('app_login') }}"> Se connecter</a>
        {% endif %}
        </li>
        <li class="nav-item">
        {% if not app.user %}
        <a class="nav-link" href="{{ path('app_register')}}"> / S'inscrire </a>
        {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>